:root{
    --very-dark-color: #000000ff;
    --dark-color: #3D0603ff;
    --main-color: #5E4F3Fff;
    --light-color: #E9CB80;
    --bright-color: #DDA515;
    --base-color: #625E5Dff;
    --contrast-red: #751911ff;
    --contrast-blue: rgb(63, 198, 231);
}

.customAside{
    background-image: url(..//images/sideImg.jpg);
}
.bgBody{
    background-image: url(..//images/endGameBG.jpg);
}