/* Define custom color variables using CSS custom properties */
:root{
    --very-dark-color: #000000ff;
    --dark-color: #3D0603ff;
    --main-color: #5E4F3Fff;
    --light-color: #E9CB80;
    --bright-color: #DDA515;
    --base-color: #625E5Dff;
    --contrast-red: #fd0202;
    --contrast-blue: rgb(63, 198, 231);
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(..//images/redCarpet2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
}

.playerContainer {
    max-width: 300px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.player{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--bright-color);
}

.player img {
    width: 30px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.game-details {
    flex: 1;
}

.player-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--bright-color);
}

.score {
    color: var(--contrast-red);
}

/* Styles for the start button */
#playBtn {
    background-color: black;
    color: transparent;
    -webkit-text-stroke: 2px #DDA515;
    font-size: 2rem;
    cursor: pointer;
    border: none;
}

#playBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: transparent;
    -webkit-text-stroke: 2px #dda415a6;
}